@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.task-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.task-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.task-exit {
  opacity: 1;
  transform: translateY(0);
}
.task-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

@layer base {
  body {
    @apply text-text-primary dark:text-gray-200;
    @apply bg-white;
  }

  input, textarea {
    @apply text-input-text dark:text-gray-200;
    @apply text-input-text placeholder-text-muted;
  }

  ::placeholder {
    @apply text-text-muted dark:text-gray-400;
  }
}